services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=crazy_charly
    networks:
      - crazy-charly.net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d crazy_charly" ]
      interval: 5s
      timeout: 5s
      retries: 5

  crazy-charly-web:
    platform: linux/amd64
    build:
      context: ./crazy-charly-web
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./crazy-charly-web:/app:delegated
      - crazy-charly-web-node-modules:/app/node_modules
      - crazy-charly-next:/app/.next
    networks:
      - crazy-charly.net
    environment:
      - PORT=3000
    restart: unless-stopped

networks:
  crazy-charly.net:
    driver: bridge

volumes:
  crazy-charly-web-node-modules:
  crazy-charly-next:
